header {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.5em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

p {
  font-size: 1em; }

.l-FB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto; }
  @media (min-width: 850px) {
    .l-FB {
      flex-direction: row;
      flex-wrap: wrap; } }
  @media (min-width: 1200px) {
    .l-FB {
      flex-direction: row;
      flex-wrap: nowrap; } }

.l-FB-game-area {
  position: relative;
  margin: 2% auto 2% auto;
  min-width: 95%;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .l-FB-game-area h1 {
    font-size: 2em; }
  @media (min-width: 435px) {
    .l-FB-game-area {
      min-width: 50%;
      max-width: 75%; } }
  @media (min-width: 850px) {
    .l-FB-game-area {
      min-width: 40%;
      max-width: 40%; } }
  @media (min-width: 1200px) {
    .l-FB-game-area {
      margin: 0.25%;
      min-width: 32%;
      max-width: 32%; } }

.l-input-area {
  margin: 0.25%; }

.l-all-inputs {
  display: flex;
  flex-direction: column;
  margin: 0.5%; }
  @media (min-width: 435px) {
    .l-all-inputs {
      flex-direction: row; } }
  @media (min-width: 850px) {
    .l-all-inputs {
      flex-direction: column; } }
  @media (min-width: 1200px) {
    .l-all-inputs {
      flex-direction: row; } }

.l-text-inputs {
  margin: 1%; }

.l-buttons {
  margin: 1%;
  width: 50%; }

.l-results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2% auto 2% auto;
  width: 90%; }
  .l-results h1 {
    font-size: 1em; }

.l-output {
  min-width: 98%;
  margin-top: 0; }

body {
  background-color: #034133;
  font-family: Helvetica, sans-serif;
  color: #EEF2F5;
  box-sizing: border-box; }
  body input::-webkit-input-placeholder {
    color: #EEF2F5; }
  body input:-moz-placeholder {
    /* Firefox 18- */
    color: #EEF2F5; }
  body input::-moz-placeholder {
    /* Firefox 19+ */
    color: #EEF2F5; }
  body input:-ms-input-placeholder {
    color: #EEF2F5; }

.FB-game-area, .results {
  border: 3px solid #015C42;
  background-color: #138B5E;
  border-radius: 1%; }

input {
  border: 3px solid #002427;
  color: #EEF2F5;
  background-color: #002427;
  border-radius: 20%/50%;
  transition: border-color 1s;
  text-align: center;
  height: 2em;
  width: 40%; }
  input:hover {
    border: 3px solid #EEF2F5; }
  input:focus {
    color: #EEF2F5;
    border: 3px solid #EEF2F5;
    outline: none; }

option {
  background-color: #034133;
  color: #EEF2F5; }

button {
  background-color: #034133;
  border: 3px solid #034133;
  color: #138B5E;
  border-radius: 20%/50%;
  transition: background-color 1s; }
  button:hover, button:focus {
    background-color: #138B5E;
    color: #034133;
    outline: none; }
  button:active {
    border: 2px solid #EEF2F5; }

.output {
  background-color: #034133;
  border: #015C42;
  border-top: 3px solid #002427;
  padding: 0.5%; }

.clicked {
  transition: border-color 1s;
  border: 3px solid #EEF2F5; }
